.side1
  //font-family: 'Space Mono', monospace
  column-gap: 16px

.side2
  color: $font-result
  a
    color: $font-result

.comment
  font-size: 14px

.cards
  width: 70px

pre
  color: $font-syntax

.navigation
  background-color: grey
  li
    display: inline-block
    padding: 15px
