.dropdown {
    padding: 0;
    margin: 0;
}

/*nav li {
    list-style: none;
    background-color: silver;
    display: inline-block;
    width: 170px;
    text-align: center;
}*/


/*LEVEL 1*/

nav ul li {
    display: inline-block;
    /*position: relative;*/
    /*padding: 0;*/
}

    /*LEVEL 2*/

    nav ul li:hover ul {
        display: block;
    }

nav ul ul {
    position: absolute;
    display: none;
    width: inherit;
}

    nav ul ul li {
        display: block;
        padding: 3%;
        border-bottom: 1px solid black;
        width: inherit;
    }

        nav ul ul li:first-child {
            margin-top: 6%;
        }

        nav ul ul li:last-child {
            border-bottom: none;
        }

nav ul li ul li:hover {
    color: white;
    background-color: #e60000;
}







/*DROPDOWN CLASSES*/

/*
.dropdown {
    padding: 0;
    margin: 0;
}

nav li {
    list-style: none;
    background-color: silver;
    display: inline-block;
    width: 170px;
    text-align: center;
}

nav {
    background-color: #666;
}

    nav a {
        color: #eee;
        background-color: #666;
    }

    /*LEVEL 1 CLASSES*/

.dropdown-level-one {
    display: inline-block;
    /*position: relative;*/
    padding: 0;
    font-size: 1.2rem;
}

    /*LEVEL 2 CLASSES*/

    .dropdown-level-one:hover .dropdown-level-two {
        display: block;
    }

.dropdown-level-two {
    position: absolute;
    padding: 0;
    display: none;
    width: 100px;
}

    /*LEVEL 3 CLASSES*/

    .dropdown-level-two .expand:hover .dropdown-level-three {
        display: inline-block;
    }

.dropdown-level-three {
    display: none;
    position: right relative;
}
*/